
@{
    ViewBag.Title = "About";
}

<!-- Page Content -->


<div class="row">
    <!-- Kategoriler-->
    <div class="col-md-3">
        @Html.Partial("_PartialCategories")

    </div>

    <div class="col-md-9">

        <!-- About metni-->
        <div class="row text-center">
            <div class="col-md-12">
                <p class="display-4">
                    Biz Kimiz
                </p>
            </div>
            <div class="col-md-12">
                <img src="http://picsum.photos/1200/300" class="img-responsive img-thumbnail" alt="" />
            </div>
        </div>
        <div class="row p-4">
            <div class="col-md-12 mb-4 mt-4">
                <h3>Sit amet, consectetur.</h3>
                <p>
                    Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt
                    , turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies
                    orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem e
                    u diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a,
                    blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales
                    mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, ege
                    t consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec i
                    n hac habitasse platea dictumst.
                </p>
            </div>
            <div class="col-md-12 mb-4">
                <blockquote class="blockquote text-right">
                    <p class="mb-0"> Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
                    <footer class="blockquote-footer my-0">
                        Consectetur adipiscing elit fusce vel.
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>

            </div>
            <div class="col-md-12 mb-4 mt-4">
                <h3>Sit amet, consectetur.</h3>
                <p>
                    Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt
                    , turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies
                    orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem e
                    u diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a,
                    blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales
                    mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, ege
                    t consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec i
                    n hac habitasse platea dictumst.
                </p>
            </div>
            <div class="col-md-12 mb-4">
                <p class="lead">
                    Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                </p>
            </div>
            <div class="col-md-12 mb-4 mt-4">
                <h3>Sit amet, consectetur.</h3>
                <p>
                    Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt
                    , turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies
                    orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem e
                    u diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a,
                    blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales
                    mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, ege
                    t consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec i
                    n hac habitasse platea dictumst.
                </p>
            </div>
        </div>

    </div>
</div>


@section footer{
    @Html.Partial("_PartialFooter")

}