@using MyEvernote.Entities
@*@model  List<Comment>*@

<div class="media">
    <div class="media-left media-middle">
        <div class="media-object">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
    </div>
    <div class="media-body">
        <div>
            <h4 class="media-heading">Middle aligned media</h4>
            <span>
                Ipsum gravida vel pretium tellus tincidunt integer e
                u augue augue nunc elit dolor, luctus placerat sceleri
                sque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
            </span>
            <span class="pull-right">
                <button type="button" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
            <br />
            <small>
                <span class="glyphicon glyphicon-time"></span> 27.07.2020 13:13:13 &nbsp; &nbsp; &nbsp; &nbsp;
                <span class="glyphicon glyphicon-user"></span> Gazihan Demir &nbsp; &nbsp; &nbsp; &nbsp;
            </small>
        </div>

    </div>
</div>